html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  font-family: "Hiragino Mincho ProN", "Yu Mincho", "Noto Sans JP", sans-serif;
  color: #354463;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.l-container {
  background-image: url(/img/index_background_leaf_1.png);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

.c-title p:nth-child(1) {
  font-size: 0.9rem;
}

@media screen and (min-width: 1025px) {
  .c-title p:nth-child(1) {
    font-size: 1.2rem;
  }
}

.c-title p:nth-child(2) {
  font-size: 1.3rem;
}

@media screen and (min-width: 1025px) {
  .c-title p:nth-child(2) {
    font-size: 1.7rem;
  }
}

.c-vertical {
  font-size: 0.8rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 3px;
  line-height: 1.1rem;
}

.c-subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
  padding: 3rem 0 3rem 0;
}

.c-heading {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 60px 0 50px;
  display: inline-block;
  border-bottom: solid 1px #83BC98;
  line-height: 2rem;
}

@media screen and (min-width: 1025px) {
  .c-heading {
    font-size: 2rem;
    border-bottom: solid 3px #83BC98;
    line-height: 3rem;
  }
}

.c-heading--info {
  font-size: 1rem;
  margin: 0 0 10px;
}

@media screen and (min-width: 1025px) {
  .c-heading--info {
    border-bottom: solid 1px #83BC98;
    line-height: 2rem;
  }
}

.c-table--access {
  font-size: 0.8rem;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

@media screen and (min-width: 1025px) {
  .c-table--access {
    text-align: left;
    font-size: 0.9rem;
  }
}

.c-table--access tr {
  border-bottom: #D9D9D9 1px solid;
}

.c-table--access tr td {
  padding: 10px 5px;
  line-height: 1.3rem;
}

.c-table--access tr td:nth-child(1) {
  vertical-align: middle;
}

.c-table--access tr td:nth-child(2) {
  font-size: 0.7rem;
}

.c-table--hours {
  text-align: center;
  font-size: 0.8rem;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

@media screen and (min-width: 1025px) {
  .c-table--hours {
    font-size: 0.9rem;
  }
}

.c-table--hours tr {
  border-top: #D9D9D9 1px solid;
  border-bottom: #D9D9D9 1px solid;
}

.c-table--hours tr th {
  font-weight: inherit;
  text-align: center;
  padding: 16px 8px;
}

.c-table--hours tr th:not(:last-of-type) {
  border-right: #D9D9D9 1px solid;
}

.c-table--hours tr td {
  padding: 16px 8px;
}

.c-table--hours tr td:first-child {
  padding: 16px 0;
}

.c-table--hours tr td:not(:last-of-type) {
  border-right: #D9D9D9 1px solid;
}

.c-card {
  margin-top: 60px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
  padding-top: 45vw;
  padding-bottom: 40px;
  max-width: 600px;
  margin: 60px auto 0;
}

@media screen and (min-width: 1025px) {
  .c-card {
    padding-top: 23vw;
  }
}

.c-card h4 {
  margin: 0px auto 50px;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: solid 2px #EBEDED;
  line-height: 3rem;
  width: 70%;
}

@media screen and (min-width: 1025px) {
  .c-card h4 {
    font-size: 1.4rem;
  }
}

.c-card > p {
  display: inline-block;
  color: #109668;
  position: relative;
  margin-bottom: 10px;
}

.c-card > p::after {
  content: "";
  display: block;
  width: 100;
  height: 8px;
  background-color: #EBEDED;
  border-radius: 8px;
  margin: -5px -10px 0px 8px;
}

.c-card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3vw 7vw;
}

@media screen and (min-width: 1025px) {
  .c-card__inner {
    margin: 2vw 4vw;
  }
}

.c-circle {
  background-color: #E2FFED;
  width: 15vw;
  height: 15vw;
  max-width: 70px;
  max-height: 70px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-circle p {
  font-size: 0.8rem;
  font-weight: bold;
}

.c-button--minute {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  background-color: #83BC98;
  border-radius: 5px;
  padding: 3px 15px;
}

@media screen and (min-width: 1025px) {
  .c-button--minute {
    padding: 10px 30px;
    font-weight: bold;
  }
}

.c-button--tel {
  display: inline-block;
  background-color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
}

@media screen and (min-width: 1025px) {
  .c-button--tel {
    -webkit-filter: drop-shadow(0 0 0);
            filter: drop-shadow(0 0 0);
  }
}

.c-button--tel p:first-of-type {
  font-size: 2rem;
  line-height: 3rem;
}

.c-button--tel p:nth-child(2) {
  font-size: 0.8rem;
}

.c-gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 80%;
  position: relative;
  margin-bottom: 60px;
}

@media screen and (min-width: 1025px) {
  .c-gmap {
    padding-bottom: 50%;
  }
}

.c-gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.c-temp {
  display: none;
}

@media screen and (min-width: 1025px) {
  .c-temp {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: calc( 100vh - 80px);
    padding-bottom: 60px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1025px) {
  .c-grid--info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 3fr 2fr;
        grid-template-rows: 3fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .c-grid--info__item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .c-grid--info__item2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .c-grid--info__item3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
}

.c-grid--about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
  -ms-grid-rows: 2fr 3fr;
      grid-template-rows: 2fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.c-grid--about__item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.c-grid--about__item2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.c-grid--about__item3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

@media screen and (min-width: 1025px) {
  .c-grid--about {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .c-grid--about__item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .c-grid--about__item2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
  }
  .c-grid--about__item3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
}

.c-owner__img {
  padding-top: 0.5rem;
}

@media screen and (min-width: 1025px) {
  .c-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-header {
  padding: 20px 20px 10px;
  font-weight: bold;
}

@media screen and (min-width: 1025px) {
  .p-header {
    background-color: #fff;
  }
}

.p-top {
  background-color: #fff;
}

.p-top__hero {
  position: relative;
  padding-bottom: 20px;
}

.p-top__hero__text {
  position: absolute;
}

.p-top__hero p:nth-child(3) {
  top: 2%;
  right: 5%;
}

@media screen and (min-width: 1025px) {
  .p-top__hero p:nth-child(3) {
    color: #fff;
    top: 3%;
    right: 75%;
  }
}

.p-top__hero p:nth-child(4) {
  top: 7%;
  right: 25%;
}

@media screen and (min-width: 1025px) {
  .p-top__hero p:nth-child(4) {
    color: #fff;
    top: 5%;
    right: 85%;
  }
}

.p-top__intro {
  padding: 0 20px;
  background-color: #fff;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .p-top__intro {
    margin: 0 auto;
    width: 60%;
  }
}

.p-top__intro__desc {
  line-height: 3rem;
  padding-bottom: 60px;
}

.p-treatment {
  margin: 0 20px;
}

@media screen and (min-width: 1025px) {
  .p-treatment {
    margin: 0 80px;
    text-align: center;
  }
}

.p-service {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1025px) {
  .p-service {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.p-service__wrapper {
  position: relative;
  margin-bottom: 130px;
}

@media screen and (min-width: 1025px) {
  .p-service__wrapper {
    width: 45%;
  }
}

.p-service img {
  position: absolute;
  width: 90%;
  max-width: 500px;
  z-index: 10;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
  left: 50%;
  top: 2vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-cost {
  padding: 0 20px 100px;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .p-cost {
    padding: 60px;
  }
}

@media screen and (min-width: 1025px) {
  .p-cost__wrapper {
    background-color: #fff;
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0 0 60px;
    text-align: center;
    border-radius: 5px;
    -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
  }
}

.p-cost__wrapper > p {
  font-size: 0.7rem;
  margin-left: auto;
  width: 60%;
}

@media screen and (min-width: 1025px) {
  .p-cost h3 {
    margin: 20px 0 60px;
  }
}

.p-cost ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding-bottom: 40px;
}

.p-cost ul li p:first-of-type {
  margin-bottom: 20px;
}

.p-cost ul li p:nth-child(2) {
  letter-spacing: 0;
}

@media screen and (min-width: 1025px) {
  .p-cost ul li p:nth-child(2) {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.p-cost ul li small {
  font-size: 0.5rem;
}

@media screen and (min-width: 1025px) {
  .p-cost ul li small {
    font-size: 0.7rem;
  }
}

.p-cost ul li:not(:last-of-type) {
  position: relative;
  display: inline-block;
}

.p-cost ul li:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 90px;
  background-color: #83BC98;
  position: absolute;
  top: -10px;
  right: -5vw;
}

.p-info {
  padding: 0 20px 60px;
}

@media screen and (min-width: 1025px) {
  .p-info {
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
}

.p-info__access {
  padding-bottom: 30px;
}

.p-info__access h4 {
  margin-bottom: 0;
}

@media screen and (min-width: 1025px) {
  .p-info__access h4 {
    margin-bottom: 16px;
  }
}

.p-info__hours h4 {
  margin-bottom: 20px;
}

@media screen and (min-width: 1025px) {
  .p-info__hours h4 {
    margin-bottom: 30px;
  }
}

.p-inquiry {
  text-align: center;
  background-color: #fff;
  padding-bottom: 100px;
}

@media screen and (min-width: 1025px) {
  .p-inquiry {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1025px) {
  .p-inquiry__wrapper {
    background-color: #fff;
    position: relative;
    width: 55%;
    margin: 0 auto;
    padding: 0 0 60px;
    text-align: center;
    border-radius: 5px;
    -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.1));
  }
}

@media screen and (min-width: 1025px) {
  .p-inquiry__wrapper h3 {
    margin: 30px 0 50px;
  }
}

.p-inquiry__inner {
  font-size: 0.9rem;
}

.p-inquiry__inner > p {
  line-height: 2rem;
  margin-bottom: 20px;
}

.p-about {
  font-size: 0.8rem;
  margin: 0 20px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1025px) {
  .p-about {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .p-about__wrapper {
    text-align: left;
  }
}

.p-about__desc {
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-bottom: 20px;
}

@media screen and (min-width: 1025px) {
  .p-about__desc {
    padding: 2rem 30px;
  }
}

.p-about ul {
  padding-top: 2.5rem;
  padding-left: 5vw;
}

@media screen and (min-width: 1025px) {
  .p-about ul {
    padding: 0 30px;
  }
}

.p-about ul li {
  padding-bottom: 24px;
  line-height: 1rem;
}

.p-about ul li h5 {
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.p-about ul li p {
  text-indent: 1rem;
}

@media screen and (min-width: 1025px) {
  .p-about ul li p {
    text-indent: 0;
  }
}

.p-footer {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

.p-footer__title p:first-of-type {
  font-size: 0.6rem;
}

@media screen and (min-width: 1025px) {
  .p-footer__title p:first-of-type {
    font-size: 0.8rem;
  }
}

.p-footer__title p:nth-child(2) {
  font-size: 0.8rem;
}

@media screen and (min-width: 1025px) {
  .p-footer__title p:nth-child(2) {
    font-size: 1rem;
  }
}

.p-footer__copyright {
  padding-top: 10px;
  font-size: 0.6rem;
}

@media screen and (min-width: 1025px) {
  .p-footer__copyright {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */