.c-circle {
    // display: inline-block;
    background-color: #E2FFED;
    width: 15vw;
    height: 15vw;
    max-width: 70px;
    max-height: 70px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    // filter:drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
    @include responsive(pc) {
        // width: 10vw;
        // height: 10vw;
        // max-width: 100px;
        // max-height: 100px;
        // justify-content: space-between;
    }

    p {
        font-size: 0.8rem;
        font-weight: bold;
    }
}