.c-gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 80%;
    position: relative;
    margin-bottom: 60px;
    @include responsive(pc) {
        padding-bottom: 50%;
    }
    }

.c-gmap iframe {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
}