.c-grid--info {
    @include responsive(pc) {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3fr 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        &__item1 { 
            grid-area: 1 / 1 / 2 / 3; 
        }
        &__item2 { 
            grid-area: 2 / 1 / 3 / 2; 
        } 
        &__item3{ 
            grid-area: 2 / 2 / 3 / 3; 
        }
        &__item1 {
            
        }
    }
}

.c-grid--about {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 2fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    &__item1 { 
        grid-area: 1 / 1 / 2 / 3; 
    }
    &__item2 { 
        grid-area: 2 / 1 / 3 / 2; 
    } 
    &__item3{ 
        grid-area: 2 / 2 / 3 / 3; 

    }

    @include responsive(pc) {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        &__item1 { 
            grid-area: 1 / 2 / 2 / 3; 
        }
        &__item2 { 
            grid-area: 1 / 1 / 3 / 2; 
        } 
        &__item3{ 
            grid-area: 2 / 2 / 3 / 3; 
        }
    }
}
