.c-temp {
    display: none;

    @include responsive(pc) {
        display: block;
        width: 90%;
        margin: 0 auto;
        height: calc( 100vh - 80px) ;
        padding-bottom: 60px;
        object-fit: cover;
        
    }
}

