.c-title {
    p:nth-child(1) {
        font-size: 0.9rem;
        @include responsive(pc) {
             font-size: 1.2rem;
        }
    }
    p:nth-child(2) {
        font-size: 1.3rem;
        @include responsive(pc) {
            font-size: 1.7rem;
        }

    }
}