.p-service {
    // position: relative;
    // width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    @include responsive(pc) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    &__wrapper {
        position: relative;
        margin-bottom: 130px;
        // max-width: 400px;
        // margin: 0 auto 130px;
        @include responsive(pc) {
            width: 45%;
        }

    }
    
    img {
        position: absolute;
        width: 90%;
        max-width: 500px;
        z-index: 10;
        border-radius: 5px;
        filter:drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.2));
        left: 50%;
        top: 2vw;
        transform: translateX(-50%);

    }
    
}