.l-container {
    background-image: url(https://github.com/non0522/medical-treat_yoyogi/blob/main/img/index_background_leaf_1.png?raw=true);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}